<div>
	<ul>
		<li *ng-for="#editItem of heroes">
			<hero-card-component 
				[hidden]=false
				[hero]="editItem.item">
			</hero-card-component>
			<button
				[hidden]="editItem.editing"
				(click)="editItem.editing=true">
				edit
			</button>
			<hero-editor-component
				(saved)="onSaved(editItem, $event)"
				(canceled)="onCanceled(editItem)"
				[hidden]="!editItem.editing"
				[hero]="editItem.item">
			</hero-editor-component>
		</li>
	</ul>
</div>
<a router-link='Heroes'> Heroes </a>
